@charset "utf-8";

body {
  background: #efefef;
}

#btn {
  margin: 30px auto 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #EF454A;
  text-align: center;
  line-height: 200px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0 10px 0 #D1383E;
  border: 3px solid #D1383E;
  user-select: none;
}

#btn:hover {
  opacity: 1;
}

#btn.pushed {
  margin-top: 36px;
  box-shadow: 0 4px 0 #D1483E;
}

#main {
  background-color: pink;
  margin: 30px;
  padding: 30px;
  opacity: 0.9;
  border-radius: 80%;
}

h1{
  text-align: center;
  color: tomato;
  font-size: 25px;
}

h2{
  text-align: center;
  color: orange;
  font-size: 15px;
}
